
Lectures/2014 Afghan elections | Statistics 504: Practice and communication in applied statistics.pdf
Lectures/bp_model.pdf
Lectures/bp_model_2wave.pdf 23-21-04-771.pdf
Lectures/Regression (miscellaneous topics) | Statistics 504: Practice and communication in applied statistics.pdf
Github/Afghan_election/afghan_basic.pdf
Github/Afghan_election/basic.py
Github/Afghan_election/data.py
Github/Chicago_crime/chicago_data.py
Github/Chicago_crime/chicago_prep_data.py
Github/Chicago_crime/chicago_timetrends.py
Github/Chicago_crime/chicago_timetrends_spacetime.pdf
Github/Chicago_crime/chicago_timetrends_time.pdf
Github/China/data.py
Github/China/dimred.pdf
Github/China/dimred.py
Github/China/gam.R
Github/China/gam_plots.pdf
Github/China/nnet.pdf
Github/China/nnet.py
Github/China/ols_reg.pdf
Github/China/ols_reg.py
Github/Medicare/data_prep.py
Github/Medicare/model.py
Github/Misc/icc.pdf
Github/Misc/icc.py
Github/Misc/pca.pdf
Github/Misc/pca.py
Github/Misc/splines.pdf
Github/Misc/splines.py
Github/NHANES/bp_2wave.py
Github/NHANES/bp_data.R
Github/NHANES/bp_model.pdf
Github/NHANES/bp_model.py
Github/NHANES/bp_model.R
Github/NHANES/bp_model_2wave.pdf
Github/NHANES/data_prep.py
Github/RLMS/addvar_plots.pdf
Github/RLMS/addvar_plots.py
Github/RLMS/data_prep.py
Github/RLMS/gee.py
Github/RLMS/lme.py
Github/RLMS/ols_reg.py
Github/RLMS/rlms_gee_plots.pdf
Github/US_census/cancorr.py
Github/US_census/census_cancorr.pdf
Github/US_census/census_pca.pdf
Github/US_census/get_data.py
Github/US_census/pca.py
*.gdoc
Homeworks/hw5/RLMS/RLMS-HSE_IND_1994_2018_STATA.tab
Homeworks/hw5/RLMS/RLMS-HSE_IND_1994_2018_STATA.tab.gz
Github/China/mixedlm.R
Github/China/mixedlm_r_plots.pdf
Github/Misc/gam.R
Github/Misc/hetvar.R
Github/China/.Rhistory
